<%- include ("layouts/header") %>
    <div class="container my-4">
        <div class="row text-center">
            <% videos.forEach(function (video) { %>
                <div class="col-md-3 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="<%= baseUrl + video.thumbnail %>">

                        <div class="card-body">
                            <h4 class="card-title">
                                <%= video.title %>
                            </h4>
                            <p class="card-text">
                                <%= video.category %>
                            </p>
                            <% var videoDuration=(video.minutes * 60) + video. seconds; %>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar">
                                        <% var minutes=Math.floor(video.watched / 60); var seconds=video. watched -
                                            (minutes * 60); %>
                                            <%= minutes + ":" + seconds %>
                                    </div>
                                </div>
                        </div>
                        <div class="card-footer">


                            <form method="POST" action="/delete-from-history">
                                <input type="hidden" name="videoId" value="<%= video.videoId %>">
                                <a href="/watch/<%= video.watch %>" class="btn btn-primary">View</a>
                                <input type="submit" class="btn btn-danger" value="Delete">
                            </form>


                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>
    <%- include ("layouts/footer") %>